[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pandas = "*"
seaborn = "*"
matplotlib = "*"
fuzzython = {git = "https://github.com/yudivian/fuzzython.git"}

[dev-packages]

[requires]
python_version = "3.9"
